### Tree models - Decision Trees

#### Import the necessary python packages

In [61]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import metrics, preprocessing
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split

#### Load the CSV file

In [62]:
bank_train = pd.read_csv("tree-models/bank_train.csv")

In [92]:
bank_train

,age,duration,campaign,pdays,previous,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,...,job,marital,education,default,housing,loan,contact,month,day_of_week,poutcome
0,49,284,1,999,0,1.4,93.918,-42.7,4.957,5228.1,...,1,0,7,1,2,0,0,3,4,1
1,58,374,1,999,0,1.4,93.918,-42.7,4.963,5228.1,...,5,1,0,1,2,0,0,3,4,1
2,36,529,1,999,0,1.4,93.444,-36.1,4.965,5228.1,...,0,3,6,0,2,0,0,1,4,1
3,47,216,1,999,0,1.4,94.465,-41.8,4.961,5228.1,...,4,1,0,0,0,2,1,4,2,1
4,38,191,1,999,0,-1.8,92.893,-46.2,1.313,5099.1,...,0,2,7,0,2,0,0,6,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3290,47,431,3,999,0,1.4,93.918,-42.7,4.962,5228.1,...,5,2,1,1,2,2,0,3,1,1
3291,40,94,4,999,0,1.4,93.918,-42.7,4.963,5228.1,...,4,2,3,0,0,0,0,3,4,1
3292,39,272,1,999,0,-1.8,92.893,-46.2,1.250,5099.1,...,0,1,6,0,0,0,0,6,0,1
3293,44,107,1,999,0,-0.1,93.200,-42.0,4.076,5195.8,...,1,1,0,0,0,0,0,7,2,1
3294,28,101,2,999,0,1.1,93.994,-36.4,4.857,5191.0,...,1,2,0,0,2,0,1,6,1,1

In [71]:
y = bank_train['purchased']
# Putting feature variable to X
X = bank_train.drop(['purchased'],axis=1)

In [72]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [66]:
_id = X_test['id']
X_test = X_test.drop(['id'],axis=1)
X_train = X_train.drop(['id'],axis=1)

In [49]:
dt_default = DecisionTreeClassifier(max_depth=5)
dt_default.fit(X_train, y_train)
y_pred_default = dt_default.predict(X_test)

In [67]:
print(_id)

3101    1030
3164    1141
3102     850
1947    1249
2400    1586
        ...
2110    2105
1483    3661
979     3854
2838    3565
1334    1152
Name: id, Length: 1088, dtype: int64

In [79]:
# Write the columns 'id' and 'predictions' into the output file
d = pd.DataFrame({'id': _id, 'bank_predicted': y_pred_default})

In [102]:
# Write the output
d.to_csv('tree-models/output/bank_predictions.csv', sep=",",index=False)

In [103]:
d.sort_values(by = ['id'])

        id  bank_predicted
1907     2               0
1766    10               0
741     15               0
1791    20               1
1210    23               0
...    ...             ...
461   4104               0
3130  4106               0
801   4113               0
805   4114               0
1022  4119               0

[1088 rows x 2 columns]